openapi: 3.0.2
info:
  contact:
    email: support@rapid7.com
  description: |
    ### Overview

    Our REST API lets you use InsightOps through HTTP requests.
    Currently, the REST API allows you to perform the majority of the actions available through the UI, and has some
    additional functionality that is not available through the UI.
    You may use this API to automate common tasks (for example, via shell scripts), and to generally interact with InsightOps
    programmatically.

    This page precisely describes the REST API and serves as a reference for the API.
    Each HTTP method and each URL endpoint is documented in a self-contained unit
    so that users only need to read about the HTTP methods relevant to them.

    ### Terminology

    * A **log entry** is an individual log event.
    * A **log** is a collection of log entries, or a single log stream.
    * A **log set** is a logical-only collection of logs, i.e. logs can be in multiple logsets and deleting a logset only deletes the relation between logs, not the logs themselves.
    * [Log Entry Query Language](https://docs.rapid7.com/insightops/log-search) (**LEQL**) is the query language used in
    Insight Ops to search log data.
  title: InsightOps REST API
  version: latest
servers:
- description: Europe
  url: https://eu.rest.logs.insight.rapid7.com
- description: United States (Users are automatically assigned to one of 3 US regions)
  url: https://us.rest.logs.insight.rapid7.com
- description: United States (Users are automatically assigned to one of 3 US regions)
  url: https://us2.rest.logs.insight.rapid7.com
- description: United States (Users are automatically assigned to one of 3 US regions)
  url: https://us3.rest.logs.insight.rapid7.com
- description: Canada
  url: https://ca.rest.logs.insight.rapid7.com
- description: Australia
  url: https://au.rest.logs.insight.rapid7.com
- description: Japan
  url: https://ap.rest.logs.insight.rapid7.com
tags:
- description: "You can perform queries on your log data by using the LEQL query language.\
    \ For information on LEQL consult the\n[LEQL documentation page](https://docs.rapid7.com/insightidr/use-a-search-language/),\
    \ and our \n[LEQL example queries](https://docs.rapid7.com/insightidr/example-queries/).\n\
    \n### Query Types\nThere are two fundamentally different types of queries, which\
    \ return different response body structures:\n* **Event Search** queries do not\
    \ contain a `calculate` clause and return a list of log lines in the\nresponse.\
    \ When the number of log lines matching your query is large, the response will\
    \ be paginated, and you will \nneed to send further requests to retrieve the following\
    \ pages of log lines (more details on this below).\n* **Statistical Search** queries\
    \ contain a `calculate` clause and return a number rather \nthan a list of log\
    \ lines. These queries do not require you to handle any pagination. Additionally,\
    \ the response body\nwill have a different structure depending on whether the\
    \ query contains a `groupby` clause.\n\n### Polling In-Progress Queries\nIn many\
    \ cases the initial response will not contain the complete results, instead the\
    \ response will indicate that\nthe query was created and is in progress. The query\
    \ must then be polled until it is completed.\n\nIf the query must be polled, there\
    \ will be a `\"links\"` array in the response which contains a link object that\
    \ has \n`\"rel\"` equal to `\"Self\"` (see response schemas below).\n\nTo poll\
    \ the in-progress query, make a `GET` request to the value of `\"href\"` in that\
    \ link object. \nFor example, if the response looks like\n```\n{\n...,\n  \"links\"\
    : [\n    {\n      \"rel\": \"Self\",\n      \"href\": \"https://eu.rest.logs.insight.rapid7.com/log_search/query/b79b0082-6255-4f85-b2e6-0041b179b1ff:1:38cdc7c1fb508f8e384536b77ce495fda2185be0::d472eb0c00d8aeddbc2b5386ad0d7c560323d443:\"\
    \n    }\n  ],\n...\n}\n```\nThen you must make a `GET` request to \n```\nhttps://eu.rest.logs.insight.rapid7.com/log_search/query/b79b0082-6255-4f85-b2e6-0041b179b1ff:1:38cdc7c1fb508f8e384536b77ce495fda2185be0::d472eb0c00d8aeddbc2b5386ad0d7c560323d443:\n\
    ```\n\nIf further polls are needed, then the response to your polling request\
    \ will once again contain a `\"links\"` array in the \nresponse with link object\
    \ that has `\"rel\"` equal to `\"Self\"`. \n\nPolling links must be polled **at\
    \ least every 20 seconds**, \nor they will expire. However they should also not\
    \ be polled too frequently, or you risk being rate limited \n(more details on\
    \ rate limiting below).\n\nA query is completed and requires no further polling\
    \ when there is either no `\"links\"` array in the response, or\nthere is no link\
    \ object with `\"rel\"` equal to `\"Self\"`.\n\n### Pagination\n\nAny search queries\
    \ with over 50 results (by default) will return a paginated response. If there\
    \ is another page\nof results, then there will be a `\"links\"` array in the response\
    \ which has `\"rel\"` equal to `\"Next\"`. For example\nif the response looks\
    \ like\n```\n{\n...,\n\"links\": [\n  {\n    \"rel\": \"Next\",\n    \"href\"\
    : \"https://eu.rest.logs.insight.rapid7.com/log_search/query/logs/17e958e2-0000-0000-0000-000000000000?from=1684763133211&to=1684763203000&per_page=1&sequence_number=3237198280324534273&next_page=true\"\
    \n  }\n],\n...\n}\n```\nThen you can fetch the next page of results by making\
    \ a `GET` request to\n```\nhttps://eu.rest.logs.insight.rapid7.com/log_search/query/logs/17e958e2-0000-0000-0000-000000000000?from=1684763133211&to=1684763203000&per_page=1&sequence_number=3237198280324534273&next_page=true\n\
    ```\n\nNote that a new query is launched when fetching the next page of results,\
    \ and hence you may need to poll the \n`\"Self\"` link until the query is completed.\
    \ It is only possible to paginate forwards, backward pagination is not supported.\n\
    \n\n### Rate Limits\nBy default, users are limited to making 1,500 queries and\
    \ 10,000 polling requests within a 15 minute window.\nFor every query request\
    \ or polling request you make, the response will contain an `X-RateLimit-Remaining`\
    \ header\nwhich tells you how many further requests you can make within this 15\
    \ minute window before hitting the limit.\n\nThe API will return responses with\
    \ status code 429 when this limit is reached, and will contain an `X-RateLimit-Reset`\
    \ \nheader, which tells you the number of seconds you must wait before your limit\
    \ is reset.\n\nNote that if you are rate limited while making a polling request,\
    \ then the polling link will likely expire before\nthe limit is reset, and you\
    \ will need to make the initial query request again after the limit is reset.\n"
  name: Query Log Data
- description: "Logs are a collection of timestamped log entries.\nYou can search\
    \ your logs and use numerical functions to dig deeper into your log data. (See\
    \ the [\"Query Log Data\"](#tag/Query-Log-Data) section).\nNotifications can be\
    \ set up to trigger when certain behaviours occur in the log data (see the [\"\
    Basic Detection Rules\"](#tag/Basic-Detection-Rules) section).\nAdditionally,\
    \ the log entries may be [downloaded](#tag/Download-Log-Data), [backed up to S3](#tag/Backup-Your-Log-Data-To-S3),\
    \ \nand [exported to CSV](#tag/Export-Log-Data-To-CSV).\n\nFor your convenience,\
    \ logs are grouped into log sets. The same log may belong to multiple log sets.\n\
    [Read more about logs, log sets and Log Search](https://docs.rapid7.com/insightops/using-log-search/).\n\
    \n### Rate Limits\nBy default, users are limited to making 1500 requests to the\
    \ \"/management\" namespace within a 15 minute window.\nFor every request you\
    \ make, the response contains an `X-RateLimit-Remaining` header, which tells you\
    \ how many \nadditional requests you can make within this 15 minute window before\
    \ hitting the limit.\n\nThe API returns responses with status code 429 when this\
    \ limit is reached, and contains an `X-RateLimit-Reset`\nheader, which tells you\
    \ the number of seconds you must wait before your limit is reset.\n"
  name: Logs & Log Sets
- description: "Basic detection rules allow you to receive notifications when certain\
    \ behaviours occurs in your log data.\nThere are three types of basic detection\
    \ rules: log pattern detections rules, log inactivity detection rules, and log\
    \ change detection rules.\n[Read more about basic detection rules](https://docs.rapid7.com/insightidr/create-and-manage-custom-alerts).\n\
    \nIn the REST API, a basic detection rule is made up of are three components:\n\
    \  * The rule itself (labeled as \"tags\" in the JSON payloads).\n  * One or more\
    \ notifications that are attached to rules and define the notification behaviour\
    \ (labeled as \"actions\" in the JSON payloads).\n  * One or more notification\
    \ targets that are attached to notifications and define the destination for the\
    \ notification (labeled as \"targets\" in the JSON payloads).\n\nAdditionally,\
    \ pattern detection rules may have one or more labels attached to them. \nThese\
    \ labels are returned together with log entries when you search your log data,\
    \ \nand can be used to filter your data when performing a search. If you choose\
    \ to use pattern detection rules to \nonly apply labels, notifications do not\
    \ need to be attached.\n\n### Rate Limits\nBy default, users are limited to making\
    \ 1500 requests to the \"/management\" namespace within a 15 minute window.\n\
    For every request you make, the response contains an `X-RateLimit-Remaining` header,\
    \ which tells you how many \nadditional requests you can make within this 15 minute\
    \ window before hitting the limit.\n\nThe API returns responses with status code\
    \ 429 when this limit is reached, and contains an `X-RateLimit-Reset`\nheader,\
    \ which tells you the number of seconds you must wait before your limit is reset.\n"
  name: Basic Detection Rules
- description: "A LEQL variable is a placeholder in a LEQL query that represents one\
    \ or more values that you can use when you\n[query your log data](#tag/Query-Log-Data)\
    \ or configure [basic detection rules](#tag/Basic-Detection-Rules). \nBy storing\
    \ and reusing values, you can streamline your queries to make them shorter and\
    \ easier to enter. \n[Read more about LEQL variables](https://docs.rapid7.com/insightidr/use-variables-in-queries/).\n\
    \n### Rate Limits\nBy default, users are limited to making 1500 requests to the\
    \ \"/management\" namespace within a 15 minute window.\nFor every request you\
    \ make, the response contains an `X-RateLimit-Remaining` header, which tells you\
    \ how many \nadditional requests you can make within this 15 minute window before\
    \ hitting the limit.\n\nThe API returns responses with status code 429 when this\
    \ limit is reached, and contains an `X-RateLimit-Reset`\nheader, which tells you\
    \ the number of seconds you must wait before your limit is reset.\n"
  name: LEQL Variables
- description: "The details of a Log Search query can be stored as a saved query so\
    \ those details do not have to be entered \nmanually the next time you run the\
    \ query. A saved query consists of 3 parts:\n* **A LEQL statement**\n* **A time\
    \ range (optional)** - If omitted, the time range must be specified when you use\
    \ the saved query.\n* **Logs to query (optional)** - If omitted, logs must be\
    \ specified when you use the saved query.\n\n### Rate Limits\nBy default, users\
    \ are limited to making 1,500 requests to the \"/query\" namespace within a 15\
    \ minute window.\nFor every request you make, the response contains an `X-RateLimit-Remaining`\
    \ header, which tells you how many \nadditional requests you can make within this\
    \ 15 minute window before hitting the limit.\n\nThe API returns responses with\
    \ status code 429 when this limit is reached, and contains an `X-RateLimit-Reset`\n\
    header, which tells you the number of seconds you must wait before your limit\
    \ is reset.\n"
  name: Saved Queries
- description: "You can query your log data using the LEQL query language. For information\
    \ on LEQL consult the\n[LEQL documentation page](https://docs.rapid7.com/insightidr/use-a-search-language/),\
    \ and our \n[LEQL example queries](https://docs.rapid7.com/insightidr/example-queries/).\n\
    \n**Statistical queries** are those that contain a `calculate` clause and return\
    \ a number rather than a list\nof log lines. \n\nPre-computed queries compute\
    \ the results for a statistical search in real time, as log entries are\nreceived\
    \ by the Log Search system. This means that results are available immediately\
    \ and can be returned much \nfaster than a conventional search. For this reason\
    \ you may consider using a pre-computed query if:\n* You regularly perform a statistical\
    \ search with the same LEQL statement on the same logs\n* Your statistical search\
    \ typically takes a long time to return results.\n\nUsers are limited to creating\
    \ 10 pre-computed queries. \nUnlike regular Log Search queries, there is no need\
    \ to poll queries until they are complete, or handle pagination.\n\n### Rate Limits\
    \   \nBy default, users are limited to making 1,500 requests to the \"/query\"\
    \ namespace (for fetching the results for a \nPre-Computed Query) within a 15\
    \ minute window, and 1,500 requests to the \"/management\" \n(for creating and\
    \ modifying a Pre-Computed Query) namespace within a 15 minute window.\nFor every\
    \ request you make, the response contains an `X-RateLimit-Remaining` header, which\
    \ tells you how many \nadditional requests you can make within this 15 minute\
    \ window before hitting the limit.\n\nThe API returns responses with status code\
    \ 429 when this limit is reached, and contains an `X-RateLimit-Reset`\nheader,\
    \ which tells you the number of seconds you must wait before your limit is reset.\n"
  name: Pre-Computed Queries
- description: "You can download your log data in plain text with the REST API.\n\
    The download includes all the LEQL query's results, or, if no query is provided,\n\
    all log entries are included in the download. For information on LEQL consult\
    \ the\n[LEQL documentation page](https://docs.rapid7.com/insightidr/use-a-search-language/),\
    \ and our \n[LEQL example queries](https://docs.rapid7.com/insightidr/example-queries/).\n\
    \n### Rate Limits\nBy default, users are limited to making 300 download requests\
    \ within a 15 minute window.\nFor every request you make, the response contains\
    \ an `X-RateLimit-Remaining` header, which tells you how many \nadditional requests\
    \ you can make within this 15 minute window before hitting the limit.\n\nThe API\
    \ returns responses with status code 429 when this limit is reached, and contains\
    \ an `X-RateLimit-Reset`\nheader, which tells you the number of seconds you must\
    \ wait before your limit is reset.\n"
  name: Download Log Data
- description: "You can export log data as a CSV file to share with stakeholders at\
    \ your convenience. \n[Read more about exporting your log entries as a CSV file](https://docs.rapid7.com/insightidr/log-search/#export-your-data).\n\
    \nThe API below allows you view the progress of export jobs and obtain the links\
    \ to download the CSV file for any \ncompleted export jobs. Only one export job\
    \ can be processed at a time for an organization.\n\nTo initiate an export job,\
    \ use the **/query** endpoints and specify the **export_format** query parameter\
    \ \n(See the [\"Query Log Data\"](#tag/Query-Log-Data) section).\n\n### Rate Limits\n\
    By default, users are limited to making 500 export requests within a 15 minute\
    \ window.\nFor every request you make, the response contains an `X-RateLimit-Remaining`\
    \ header, which tells you how many \nadditional requests you can make within this\
    \ 15 minute window before hitting the limit.\n\nThe API returns responses with\
    \ status code 429 when this limit is reached, and contains an `X-RateLimit-Reset`\n\
    header, which tells you the number of seconds you must wait before your limit\
    \ is reset.\n"
  name: Export Log Data To CSV
- description: "You can use the **/usage/organizations** endpoints to view the amount\
    \ of log data that you have stored, in bytes, for any time range, across:\n* All\
    \ of your organization's log data\n* Individual logs\n\n### Rate Limits\nBy default,\
    \ users are limited to making 500 requests to the \"/usage\" namespace within\
    \ a 15 minute window.\nFor every request you make, the response contains an `X-RateLimit-Remaining`\
    \ header, which tells you how many \nadditional requests you can make within this\
    \ 15 minute window before hitting the limit.\n\nThe API returns responses with\
    \ status code 429 when this limit is reached, and contains an `X-RateLimit-Reset`\n\
    header, which tells you the number of seconds you must wait before your limit\
    \ is reset.\n"
  name: Explore The Size of Your Log Data
- description: "Data archiving allows you to retain a copy of your log data using\
    \ the storage capabilities of Amazon S3. \n[Read more about data archiving](https://docs.rapid7.com/insightidr/data-archiving/).\n\
    To use the data archiving feature, you will need to grant Rapid7 access to your\
    \ organization's bucket.\n[Instructions can be found here](https://docs.rapid7.com/insightidr/data-archiving/#configure-an-amazon-s3-bucket).\n\
    \nThere are two types of archiving available.\n* **Daily archiving** - Occurs\
    \ once a day and sends all of the log data received in the past day to your S3\
    \ bucket in a compressed file format.\n* **Historical archiving** - Occurs on\
    \ demand and sends all of the log data in your specified time range to your S3\
    \ bucket in a compressed file format.\n  The process of archiving a large amount\
    \ of data can take several days, thus this process is limited to only twice each\
    \ year.\n\n### Rate Limits\nBy default, users are limited to making 1500 requests\
    \ to the \"/management\" namespace within a 15 minute window.\nFor every request\
    \ you make, the response contains an `X-RateLimit-Remaining` header, which tells\
    \ you how many \nadditional requests you can make within this 15 minute window\
    \ before hitting the limit.\n\nThe API returns responses with status code 429\
    \ when this limit is reached, and contains an `X-RateLimit-Reset`\nheader, which\
    \ tells you the number of seconds you must wait before your limit is reset.\n"
  name: Backup Your Log Data To S3
- description: "[Keys](https://docs.rapid7.com/insightidr/ls-glossary/#key) are constants\
    \ that define the data in your logs.\nFor example, the key could be `geoip_country_name`\
    \ and a value that pertains to that category might be `United States`.\n[Read\
    \ more about common keys for various logs](https://docs.rapid7.com/insightidr/keys-to-use-in-your-queries/).\n\
    \nThe API allows you to fetch the most commonly occurring keys that appear for\
    \ any given log, sorted in order from least common to most common.\nIf there have\
    \ been more than 1000 distinct keys in that log's data, then only the 1000 most\
    \ common keys will be returned.\nEach key is returned together with a `weight`,\
    \ which is a number representing how commonly occurring the key is. \nThe weight\
    \ of a key is determined by the number of times the key has occurred, combined\
    \ with how long ago the occurrences happened\n(recent occurrences impact the weight\
    \ of a key more than older occurrences do).\n\n### Rate Limits\nBy default, users\
    \ are limited to making 1500 requests to the \"/management\" namespace within\
    \ a 15 minute window.\nFor every request you make, the response contains an `X-RateLimit-Remaining`\
    \ header, which tells you how many \nadditional requests you can make within this\
    \ 15 minute window before hitting the limit.\n\nThe API returns responses with\
    \ status code 429 when this limit is reached, and contains an `X-RateLimit-Reset`\n\
    header, which tells you the number of seconds you must wait before your limit\
    \ is reset.\n"
  name: Retrieve The Most Common Keys Within Your Log Data
- description: |
    Use the Live Tail API to start a real-time feed of log entries matching a query.
    The query may be performed on any collection of logs (Live Tail on *log sets* is not supported), either by
    providing a LEQL query, or by using a saved query.

    Queries are submitted using the methods and the endpoints described below.
    The endpoints will respond with
    * A `200 OK` response, with a link to poll the live tail feed in the response body.

    Each time a Live Tail feed is polled, all log entries ingested since the last poll, and which match the query are returned.
    A Live Tail feed must be polled **at least every 20 seconds**, or it will expire.
    If there are more than `per_page` results (50 by default) since the last poll,
    only `per_page` results will be returned, and the next page of results is returned the next time the Live Tail feed is polled.
  name: Watch Incoming Log Data In Realtime
- description: |2

    [Audit Logging](https://docs.rapid7.com/insight/audit-logging/) allows you to track and record activity (both user driven and automated) for investigative purposes.
    For every auditable action, you can see what the action was, the time that the action occurred, and who completed the action.
  name: Audit API
paths:
  /query:
    get:
      operationId: getQueryEndpoints
      responses:
        "200":
          content:
            application/json:
              example:
                $ref: ../../insightops-examples.yml#/components/examples/ListEndpoints/value
              schema:
                $ref: '#/components/schemas/ListEndpointsResponse'
          description: Endpoints in Response Body.
      summary: List All Endpoints
      tags:
      - Query Log Data
  /query/logs/{log_keys}:
    get:
      description: |
        Submit the query specified in the query parameters for the log with that **{log_key}**.
        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [this section's introduction](#tag/Query-Log-Data).
      operationId: getQueryLogs
      parameters:
      - description: |
          \
          The key of the log to be queried.

          Supplying multiple ':' separated log keys is deprecated;
          users should instead 'POST' the query as a JSON payload to [/query/logs](#operation/postQueryLogs).
        example: /query/logs/565c1b7b-c08b-4c87-a42a-ab08bad56071
        in: path
        name: log_keys
        required: true
        schema:
          type: string
      - description: |
          \
          A valid LEQL query to run against the log.
          If omitted, the query retrieves all log entries in the specified time range.
        example: where(foo=bar)
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: |
          \
          The start of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1450557004000
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: |
          \
          The end of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1460557604000
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: |
          \
          An alternative to the `from` and `to` query parameters. Supported values:
          * `yesterday`
          * `today`
          * `last x timeunits` where x is the number of time unit back from the current server time. Supported time units (case insensitive):
              - min(s) or minute(s)
              - hr(s) or hour(s)
              - day(s)
              - week(s)
              - month(s)
              - year(s)

          If `time_range` is used, then the `from` and `to` query parameters must not be used.
        example: last 5 minutes
        in: query
        name: time_range
        required: false
        schema:
          type: string
      - description: |
          \
          Only entries which have a label with this UUID will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
        example: 00000000-0000-0000-0000-000000000001
        in: query
        name: label
        required: false
        schema:
          type: string
      - description: |
          \
          A set of ':' separated label UUIDs. Only entries which have a label matching one of these UUIDs will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
          Takes precedence over the 'label' parameter.
        example: 00000000-0000-0000-0000-000000000001:21b21bb8-8869-4e2c-98df-684892e4e112
        in: query
        name: labels
        required: false
        schema:
          type: string
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          If included, the query results will be exported to the given format.

          * Currently only `csv` is supported.
          * This parameter is only for non-statistical search queries (i.e. no 'calculate' and/or 'groupby' clauses).
          * Results are limited to the first 1 million log entries, and only one export job may run per account at a time.

          The response will be a 202, and the response body will contain a link for polling the export job (on the **/exports/{id}** endpoint).
        example: csv
        in: query
        name: export_format
        required: false
        schema:
          type: string
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          \
          If this query parameter is included, the query results will additionally include all log entries received in the
          `from` millisecond which have sequence numbers larger than the one specified.

          Sequence numbers are identifiers used to distinguish between log entries received in the same millisecond.
          If a log entry was split up into several log entries during ingestion, then those chunks are ordered by sequence number.
        in: query
        name: sequence_number
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
                EventsResponsePagination:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
                StatisticalResponseSimple:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
        "202":
          content:
            application/json:
              examples:
                EventsContinue:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
                EventsContinueExportCSV:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
                StatsContinueInitial:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_202_response'
          description: Query in Progress. Links in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
        "400":
          description: Invalid Query Request.
        "401":
          description: Unauthorized.
        "404":
          description: Log Not Found.
        "415":
          description: Non-JSON request body was given (not that the endpoint takes
            a request body).
        "429":
          content:
            text/plain:
              example: API rate limit exceeded
              schema:
                type: string
          description: Rate Limited.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
            Retry-After:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}"
        "500":
          description: Internal Server Error.
      security:
      - Api Key Authentication:
        - Read Only or Above
      summary: Query Individual Logs
      tags:
      - Query Log Data
      x-code-samples:
      - lang: Shell
        label: curl
        source: |
          curl -H 'x-api-key: b865a2555-ab43-4297-a894-a9b5bffb6395' \
          -G \
          --data-urlencode query="where(number<100) calculate(count)" \
          --data from=1609755026007 \
          --data to=1609927826007 \
          https://us.rest.logs.insight.rapid7.com/query/logs/f558ea24-c213-8b99-9a33-8a498121677a
      - lang: Python
        label: Python3.10
        source: "import json\nimport time            \nfrom requests import Response,\
          \ Session\nfrom requests.adapters import HTTPAdapter\nfrom urllib3.util.retry\
          \ import Retry\n\nAPI_KEY = 'YOUR API KEY'\nLOG_KEY = 'YOUR LOG KEY'\nFROM_TS_MILLIS\
          \ = 1684762903000  # Unix epoch\nTO_TS_MILLIS = 1684763203000  # Unix epoch\n\
          DATA_STORAGE_REGION = 'eu'  # Swap for your region\nQUERY = ''\n\n\nclass\
          \ RateLimitedException(Exception):\n    def __init__(self, message: str,\
          \ secs_until_reset: int):\n        super().__init__(message)\n        self.secs_until_reset\
          \ = secs_until_reset\n\n\ndef is_query_in_progress(query_response: Response)\
          \ -> bool:\n    if 'links' not in query_response.json():\n        return\
          \ False\n    elif 'Next' in [link['rel'] for link in query_response.json()['links']]:\n\
          \        return False\n    elif 'Self' in [link['rel'] for link in query_response.json()['links']]:\n\
          \        return True\n    raise Exception('LogSearch query returned an invalid\
          \ response body according to their spec '\n                    '- contains\
          \ a \"links\" object, which does not contain a link with either '\n    \
          \                '\"rel\" equal to \"Next\" or \"Self\"')\n\n\ndef poll_request_to_completion(logsearch_session:\
          \ Session,\n                               query_in_progress_response: Response)\
          \ -> Response:\n    \"\"\"\n    \"continuation\" polls expire after 10 seconds,\
          \ so we must not wait too long between\n    requests. However we must not\
          \ poll too frequently for long-running queries or we\n    risk being rate\
          \ limited.\n    \"\"\"\n    if query_in_progress_response.status_code ==\
          \ 429:\n        secs_until_reset = query_in_progress_response.headers.get('X-RateLimit-Reset')\n\
          \        raise RateLimitedException(\n            f'Log Search API Key was\
          \ rate limited. Seconds until rate limit reset: {secs_until_reset}',\n \
          \           int(secs_until_reset)\n        )\n\n    if not is_query_in_progress(query_in_progress_response):\n\
          \        return query_in_progress_response\n\n    poll_delay_secs = 0.5\n\
          \    max_poll_delay_secs = 6\n    links = {link['rel']: link['href'] for\
          \ link in query_in_progress_response.json()['links']}\n    while 'Self'\
          \ in links:\n        time.sleep(poll_delay_secs)\n\n        resp = logsearch_session.get(links['Self'],\
          \ headers={'x-api-key': API_KEY})\n\n        if resp.status_code == 429:\n\
          \            secs_until_reset = resp.headers.get('X-RateLimit-Reset')\n\
          \            raise RateLimitedException(\n             f'Log Search API\
          \ Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',\n\
          \             int(secs_until_reset)\n            )\n\n        if not is_query_in_progress(resp):\n\
          \            return resp\n\n        poll_delay_secs = min(poll_delay_secs\
          \ * 2, max_poll_delay_secs)\n        links = {link['rel']: link['href']\
          \ for link in resp.json()['links']}\n\n\ndef has_next_page(query_response:\
          \ Response) -> bool:\n    return 'links' in query_response.json() and \\\
          \n           'Next' in [link['rel'] for link in query_response.json()['links']]\n\
          \n\ndef get_next_page_of_results(logsearch_session: Session, resp: Response)\
          \ -> Response:\n    links = {link['rel']: link['href'] for link in resp.json()['links']}\n\
          \    return logsearch_session.get(links['Next'], headers={'x-api-key': API_KEY})\n\
          \n\ndef perform_query(logsearch_session: Session) -> Response:\n    try:\n\
          \        resp = poll_request_to_completion(\n            logsearch_session,\n\
          \            logsearch_session.get(f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com/query/logs/{LOG_KEY}',\n\
          \                                  headers={'x-api-key': API_KEY},\n   \
          \                               params={'from': FROM_TS_MILLIS, 'to': TO_TS_MILLIS,\
          \ 'query': QUERY})\n        )\n        print(json.dumps(resp.json(), indent=4))\n\
          \        return resp\n    except RateLimitedException as e:\n        print(f'Log\
          \ Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')\n\
          \        time.sleep(e.secs_until_reset)\n        return perform_query(logsearch_session)\n\
          \n\nsession = Session()\nsession.mount(\n    f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com',\n\
          \    HTTPAdapter(max_retries=(\n        Retry(total=3,\n              backoff_factor=1,\n\
          \              status_forcelist=[500, 502, 503, 504],\n              respect_retry_after_header=False)\
          \  # Rate limiting must be handled explicitly\n    ))\n)\n\nquery_results_page\
          \ = perform_query(session)\n\nwhile has_next_page(query_results_page):\n\
          \    try:\n        print('Fetching next page of results')\n        query_results_page\
          \ = poll_request_to_completion(\n            session,\n            get_next_page_of_results(session,\
          \ query_results_page)\n        )\n        print(json.dumps(query_results_page.json(),\
          \ indent=4))\n    except RateLimitedException as e:\n        print(f'Log\
          \ Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')\n\
          \        time.sleep(e.secs_until_reset)\n"
  /query/logs:
    post:
      description: |
        Submit the query specified in the (JSON) request body and the URL query parameters.

        An arbitrary collection of logs can be specified in the request body.

        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [this section's introduction](#tag/Query-Log-Data).
      operationId: postQueryLogs
      parameters:
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          If included, the query results will be exported to the given format.

          * Currently only `csv` is supported.
          * This parameter is only for non-statistical search queries (i.e. no 'calculate' and/or 'groupby' clauses).
          * Results are limited to the first 1 million log entries, and only one export job may run per account at a time.

          The response will be a 202, and the response body will contain a link for polling the export job (on the **/exports/{id}** endpoint).
        example: csv
        in: query
        name: export_format
        required: false
        schema:
          type: string
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          \
          A set of ':' separated label UUIDs. Only entries which have a label matching one of these UUIDs will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
          Takes precedence over the 'label' parameter.
        example: 00000000-0000-0000-0000-000000000001:21b21bb8-8869-4e2c-98df-684892e4e112
        in: query
        name: labels
        required: false
        schema:
          type: string
      - description: |
          \
          If this query parameter is included, the query results will additionally include all log entries received in the
          `from` millisecond which have sequence numbers larger than the one specified.

          Sequence numbers are identifiers used to distinguish between log entries received in the same millisecond.
          If a log entry was split up into several log entries during ingestion, then those chunks are ordered by sequence number.
        in: query
        name: sequence_number
        required: false
        schema:
          type: integer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/postQueryLogs_request'
        description: |
          The JSON payload must contain:
          * a non-empty array of the log keys for the logs that will be queried
          * a `leql` object, containing a value for either of the following (but **not** for both):
            - `leql.during.time_range`
            - `leql.during.from` and `leql.during.to`

            The `leql.statement` can be empty or omitted.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: '#/components/examples/EventsResponseSimple'
                EventsResponsePagination:
                  $ref: '#/components/examples/EventsResponsePagination'
                StatisticalResponseSimple:
                  $ref: '#/components/examples/StatisticalResponseSimple'
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: '#/components/examples/StatisticalResponseTimeSeriesMultiGroupBy'
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: '#/components/headers/x-beyond-retention'
            x-beyond-retention-message:
              $ref: '#/components/headers/x-beyond-retention-message'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              examples:
                EventsContinue:
                  $ref: '#/components/examples/EventsContinue'
                EventsContinueExportCSV:
                  $ref: '#/components/examples/EventsContinueExportCSV'
                StatsContinueInitial:
                  $ref: '#/components/examples/StatsContinueInitial'
              schema:
                $ref: '#/components/schemas/getQueryLogs_202_response'
          description: Query in Progress. Links in Response Body.
          headers:
            x-beyond-retention:
              $ref: '#/components/headers/x-beyond-retention'
            x-beyond-retention-message:
              $ref: '#/components/headers/x-beyond-retention-message'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          description: Malformed JSON Request Body.
        "401":
          description: Unauthorized.
        "404":
          description: Log Not Found.
        "415":
          description: Data not specified as JSON.
        "429":
          content:
            text/plain:
              example: API rate limit exceeded
              schema:
                type: string
          description: Rate Limited.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Internal Server Error.
      security:
      - Api Key Authentication:
        - Read Only or Above
      summary: Query Multiple Logs
      tags:
      - Query Log Data
      x-code-samples:
      - lang: Shell
        label: curl
        source: "curl -H 'x-api-key: b865a2555-ab43-4297-a894-a9b5bffb6395' \\\n-H\
          \ 'Content-Type: application/json' \\\n-X POST \\\n--data '{\"logs\": [\"\
          565c1b7b-c08b-4c87-a42a-ab08bad56071\",\"c78579a8-8b20-4e6a-d4c0-5287198a263b\"\
          ],\"leql\":{\"during\":{\"time_range\":\"last 1 hour\"},\"statement\":\"\
          where(931dde6c60>=800)\"}}' \\\nhttps://us.rest.logs.insight.rapid7.com/query/logs?\\\
          \nkvp_info=true&\\\nmost_recent_first=true&\\          \nper_page=1\n"
      - lang: Python
        label: Python3.10
        source: |
          import json
          import time
          from requests import Response, Session
          from requests.adapters import HTTPAdapter
          from urllib3.util.retry import Retry

          API_KEY = 'YOUR API KEY'
          LOG_KEY = 'YOUR LOG KEY'
          FROM_TS_MILLIS = 1684762903000  # Unix epoch
          TO_TS_MILLIS = 1684763203000  # Unix epoch
          DATA_STORAGE_REGION = 'eu'  # Swap for your region
          QUERY = ''


          class RateLimitedException(Exception):
              def __init__(self, message: str, secs_until_reset: int):
                  super().__init__(message)
                  self.secs_until_reset = secs_until_reset


          def is_query_in_progress(query_response: Response) -> bool:
              if 'links' not in query_response.json():
                  return False
              elif 'Next' in [link['rel'] for link in query_response.json()['links']]:
                  return False
              elif 'Self' in [link['rel'] for link in query_response.json()['links']]:
                  return True
              raise Exception('LogSearch query returned an invalid response body according to their spec '
                              '- contains a "links" object, which does not contain a link with either '
                              '"rel" equal to "Next" or "Self"')


          def poll_request_to_completion(logsearch_session: Session,
                                         query_in_progress_response: Response) -> Response:
              """
              "continuation" polls expire after 10 seconds, so we must not wait too long between
              requests. However we must not poll too frequently for long-running queries or we
              risk being rate limited.
              """
              if query_in_progress_response.status_code == 429:
                  secs_until_reset = query_in_progress_response.headers.get('X-RateLimit-Reset')
                  raise RateLimitedException(
                      f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                      int(secs_until_reset)
                  )

              if not is_query_in_progress(query_in_progress_response):
                  return query_in_progress_response

              poll_delay_secs = 0.5
              max_poll_delay_secs = 6
              links = {link['rel']: link['href'] for link in query_in_progress_response.json()['links']}
              while 'Self' in links:
                  time.sleep(poll_delay_secs)

                  resp = logsearch_session.get(links['Self'], headers={'x-api-key': API_KEY})

                  if resp.status_code == 429:
                      secs_until_reset = resp.headers.get('X-RateLimit-Reset')
                      raise RateLimitedException(
                       f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                       int(secs_until_reset)
                      )

                  if not is_query_in_progress(resp):
                      return resp

                  poll_delay_secs = min(poll_delay_secs * 2, max_poll_delay_secs)
                  links = {link['rel']: link['href'] for link in resp.json()['links']}


          def has_next_page(query_response: Response) -> bool:
              return 'links' in query_response.json() and \
                     'Next' in [link['rel'] for link in query_response.json()['links']]


          def get_next_page_of_results(logsearch_session: Session, resp: Response) -> Response:
              links = {link['rel']: link['href'] for link in resp.json()['links']}
              return logsearch_session.get(links['Next'], headers={'x-api-key': API_KEY})


          def perform_query(logsearch_session: Session) -> Response:
              try:
                  resp = poll_request_to_completion(
                      logsearch_session,
                      logsearch_session.post(f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com/query/logs',
                                             headers={'x-api-key': API_KEY},
                                             json={
                                                 'logs': [LOG_KEY],
                                                 'leql': {
                                                     'during': {'from': FROM_TS_MILLIS, 'to': TO_TS_MILLIS},
                                                     'statement': QUERY
                                                 }
                                             })
                  )
                  print(json.dumps(resp.json(), indent=4))
                  return resp
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
                  return perform_query(logsearch_session)


          session = Session()
          session.mount(
              f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com',
              HTTPAdapter(max_retries=(
                  Retry(total=3,
                        backoff_factor=1,
                        status_forcelist=[500, 502, 503, 504],
                        respect_retry_after_header=False)  # Rate limiting must be handled explicitly
              ))
          )

          query_results_page = perform_query(session)

          while has_next_page(query_results_page):
              try:
                  print('Fetching next page of results')
                  query_results_page = poll_request_to_completion(
                      session,
                      get_next_page_of_results(session, query_results_page)
                  )
                  print(json.dumps(query_results_page.json(), indent=4))
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
  /query/logsets:
    get:
      description: |
        Submit the query specified in the query parameters for the log sets matching the given names.

        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [this section's introduction](#tag/Query-Log-Data).
      operationId: queryLogsetsByName
      parameters:
      - description: |
          \
          A valid LEQL query to run against the log.
          If omitted, the query retrieves all log entries in the specified time range.
        example: where(foo=bar)
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: |
          \
          The name of the log set to be queried.
          Multiple log sets can be queried by providing this parameter multiple times,
          which results in the query running on the *union* of all contained logs.
          If any of the provided log set names do not exist, a 404 error response is returned.
        example: Internal Logs
        in: query
        name: logset_name
        required: true
        schema:
          type: string
      - description: |
          \
          The start of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1450557004000
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: |
          \
          The end of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1460557604000
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: |
          \
          An alternative to the `from` and `to` query parameters. Supported values:
          * `yesterday`
          * `today`
          * `last x timeunits` where x is the number of time unit back from the current server time. Supported time units (case insensitive):
              - min(s) or minute(s)
              - hr(s) or hour(s)
              - day(s)
              - week(s)
              - month(s)
              - year(s)

          If `time_range` is used, then the `from` and `to` query parameters must not be used.
        example: last 5 minutes
        in: query
        name: time_range
        required: false
        schema:
          type: string
      - description: |
          \
          Only entries which have a label with this UUID will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
        example: 00000000-0000-0000-0000-000000000001
        in: query
        name: label
        required: false
        schema:
          type: string
      - description: |
          \
          A set of ':' separated label UUIDs. Only entries which have a label matching one of these UUIDs will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
          Takes precedence over the 'label' parameter.
        example: 00000000-0000-0000-0000-000000000001:21b21bb8-8869-4e2c-98df-684892e4e112
        in: query
        name: labels
        required: false
        schema:
          type: string
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          \
          If this query parameter is included, the query results will additionally include all log entries received in the
          `from` millisecond which have sequence numbers larger than the one specified.

          Sequence numbers are identifiers used to distinguish between log entries received in the same millisecond.
          If a log entry was split up into several log entries during ingestion, then those chunks are ordered by sequence number.
        in: query
        name: sequence_number
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: '#/components/examples/EventsResponseSimple'
                EventsResponsePagination:
                  $ref: '#/components/examples/EventsResponsePagination'
                StatisticalResponseSimple:
                  $ref: '#/components/examples/StatisticalResponseSimple'
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: '#/components/examples/StatisticalResponseTimeSeriesMultiGroupBy'
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: '#/components/headers/x-beyond-retention'
            x-beyond-retention-message:
              $ref: '#/components/headers/x-beyond-retention-message'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "202":
          content:
            application/json:
              examples:
                EventsContinue:
                  $ref: '#/components/examples/EventsContinue'
                StatsContinueInitial:
                  $ref: '#/components/examples/StatsContinueInitial'
              schema:
                $ref: '#/components/schemas/getQueryLogs_202_response'
          description: Query in Progress. Links in Response Body.
          headers:
            x-beyond-retention:
              $ref: '#/components/headers/x-beyond-retention'
            x-beyond-retention-message:
              $ref: '#/components/headers/x-beyond-retention-message'
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
        "400":
          description: Invalid Query Request.
        "401":
          description: Unauthorized.
        "404":
          description: Log Not Found.
        "415":
          description: Non-JSON request body was given (Note that the endpoint does
            not take a request body).
        "429":
          content:
            text/plain:
              example: API rate limit exceeded
              schema:
                type: string
          description: Rate Limited.
          headers:
            X-RateLimit-Limit:
              $ref: '#/components/headers/X-RateLimit-Limit'
            X-RateLimit-Remaining:
              $ref: '#/components/headers/X-RateLimit-Remaining'
            X-RateLimit-Reset:
              $ref: '#/components/headers/X-RateLimit-Reset'
            Retry-After:
              $ref: '#/components/headers/Retry-After'
        "500":
          description: Internal Server Error.
      security:
      - Api Key Authentication:
        - Read Only or Above
      summary: Query Multiple Log Sets
      tags:
      - Query Log Data
      x-code-samples:
      - lang: Shell
        label: curl
        source: |
          curl -H 'x-api-key: b865a2555-ab43-4297-a894-a9b5bffb6395' \
          -G \
          --data-urlencode query="where(931dde6c60>=800)" \
          --data logset_name=HostService \
          --data-urlencode logset_name="Internal Logs" \
          --data from=1609755026007 \
          --data to=1609927826007 \
          --data labels=00000000-0000-0000-0000-000000000002:00000000-0000-0000-0000-000000000001 \
          --data per_page=100 \
          https://us.rest.logs.insight.rapid7.com/query/logsets
      - lang: Python
        label: Python3.10
        source: |
          import json
          import time
          from requests import Response, Session
          from requests.adapters import HTTPAdapter
          from urllib3.util.retry import Retry

          API_KEY = 'YOUR API KEY'
          LOGSET_NAME = "YOUR LOGSET'S NAME"
          FROM_TS_MILLIS = 1684762903000  # Unix epoch
          TO_TS_MILLIS = 1684763203000  # Unix epoch
          DATA_STORAGE_REGION = 'eu'  # Swap for your region
          QUERY = ''


          class RateLimitedException(Exception):
              def __init__(self, message: str, secs_until_reset: int):
                  super().__init__(message)
                  self.secs_until_reset = secs_until_reset


          def is_query_in_progress(query_response: Response) -> bool:
              if 'links' not in query_response.json():
                  return False
              elif 'Next' in [link['rel'] for link in query_response.json()['links']]:
                  return False
              elif 'Self' in [link['rel'] for link in query_response.json()['links']]:
                  return True
              raise Exception('LogSearch query returned an invalid response body according to their spec '
                              '- contains a "links" object, which does not contain a link with either '
                              '"rel" equal to "Next" or "Self"')


          def poll_request_to_completion(logsearch_session: Session,
                                         query_in_progress_response: Response) -> Response:
              """
              "continuation" polls expire after 10 seconds, so we must not wait too long between
              requests. However we must not poll too frequently for long-running queries or we
              risk being rate limited.
              """
              if query_in_progress_response.status_code == 429:
                  secs_until_reset = query_in_progress_response.headers.get('X-RateLimit-Reset')
                  raise RateLimitedException(
                      f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                      int(secs_until_reset)
                  )

              if not is_query_in_progress(query_in_progress_response):
                  return query_in_progress_response

              poll_delay_secs = 0.5
              max_poll_delay_secs = 6
              links = {link['rel']: link['href'] for link in query_in_progress_response.json()['links']}
              while 'Self' in links:
                  time.sleep(poll_delay_secs)

                  resp = logsearch_session.get(links['Self'], headers={'x-api-key': API_KEY})

                  if resp.status_code == 429:
                      secs_until_reset = resp.headers.get('X-RateLimit-Reset')
                      raise RateLimitedException(
                       f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                       int(secs_until_reset)
                      )

                  if not is_query_in_progress(resp):
                      return resp

                  poll_delay_secs = min(poll_delay_secs * 2, max_poll_delay_secs)
                  links = {link['rel']: link['href'] for link in resp.json()['links']}


          def has_next_page(query_response: Response) -> bool:
              return 'links' in query_response.json() and \
                     'Next' in [link['rel'] for link in query_response.json()['links']]


          def get_next_page_of_results(logsearch_session: Session, resp: Response) -> Response:
              links = {link['rel']: link['href'] for link in resp.json()['links']}
              return logsearch_session.get(links['Next'], headers={'x-api-key': API_KEY})


          def perform_query(logsearch_session: Session) -> Response:
              try:
                  resp = poll_request_to_completion(
                      logsearch_session,
                      logsearch_session.get(f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com/query/logsets',
                                  headers={'x-api-key': API_KEY},
                                  params={'logset_name': LOGSET_NAME,
                                          'from': FROM_TS_MILLIS,
                                          'to': TO_TS_MILLIS,
                                          'query': QUERY})
                  )
                  print(json.dumps(resp.json(), indent=4))
                  return resp
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
                  return perform_query(logsearch_session)


          session = Session()
          session.mount(
              f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com',
              HTTPAdapter(max_retries=(
                  Retry(total=3,
                        backoff_factor=1,
                        status_forcelist=[500, 502, 503, 504],
                        respect_retry_after_header=False)  # Rate limiting must be handled explicitly
              ))
          )

          query_results_page = perform_query(session)

          while has_next_page(query_results_page):
              try:
                  print('Fetching next page of results')
                  query_results_page = poll_request_to_completion(
                      session,
                      get_next_page_of_results(session, query_results_page)
                  )
                  print(json.dumps(query_results_page.json(), indent=4))
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
  /query/logsets/{id}:
    get:
      description: |
        Submit the query specified in the query parameters for the log set with that **{logset_id}**.
        Only one log set id may be provided.

        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [this section's introduction](#tag/Query-Log-Data).
      operationId: queryLogsetsById
      parameters:
      - description: |
          \
          The id of the log set to be queried.
        example: 4a8869fa-0843-4edd-85f5-bf7d6b80d6c5
        in: path
        name: logset_id
        required: true
        schema:
          type: string
      - description: |
          \
          A valid LEQL query to run against the log.
          If omitted, the query retrieves all log entries in the specified time range.
        example: where(foo=bar)
        in: query
        name: query
        required: false
        schema:
          type: string
      - description: |
          \
          The start of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1450557004000
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: |
          \
          The end of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1460557604000
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: |
          \
          An alternative to the `from` and `to` query parameters. Supported values:
          * `yesterday`
          * `today`
          * `last x timeunits` where x is the number of time unit back from the current server time. Supported time units (case insensitive):
              - min(s) or minute(s)
              - hr(s) or hour(s)
              - day(s)
              - week(s)
              - month(s)
              - year(s)

          If `time_range` is used, then the `from` and `to` query parameters must not be used.
        example: last 5 minutes
        in: query
        name: time_range
        required: false
        schema:
          type: string
      - description: |
          \
          Only entries which have a label with this UUID will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
        example: 00000000-0000-0000-0000-000000000001
        in: query
        name: label
        required: false
        schema:
          type: string
      - description: |
          \
          A set of ':' separated label UUIDs. Only entries which have a label matching one of these UUIDs will be returned.
          This only works with non-statistical queries (i.e. no 'groupby' or 'calculate' clauses).
          Takes precedence over the 'label' parameter.
        example: 00000000-0000-0000-0000-000000000001:21b21bb8-8869-4e2c-98df-684892e4e112
        in: query
        name: labels
        required: false
        schema:
          type: string
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      - description: |
          \
          If this query parameter is included, the query results will additionally include all log entries received in the
          `from` millisecond which have sequence numbers larger than the one specified.

          Sequence numbers are identifiers used to distinguish between log entries received in the same millisecond.
          If a log entry was split up into several log entries during ingestion, then those chunks are ordered by sequence number.
        in: query
        name: sequence_number
        required: false
        schema:
          type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
                EventsResponsePagination:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
                StatisticalResponseSimple:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
        "202":
          content:
            application/json:
              examples:
                EventsContinue:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
                StatsContinueInitial:
                  $ref: "#/components/examples/~1query~1logsets~1{id}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_202_response'
          description: Query in Progress. Links in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
        "400":
          description: Invalid Query Request.
        "401":
          description: Unauthorized.
        "404":
          description: Log Not Found.
        "415":
          description: Non-JSON request body was given (Note that the endpoint does
            not take a request body).
        "429":
          content:
            text/plain:
              example: API rate limit exceeded
              schema:
                type: string
          description: Rate Limited.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
            Retry-After:
              $ref: "#/components/headers/~1query~1logsets~1{id}"
        "500":
          description: Internal Server Error.
      security:
      - Api Key Authentication:
        - Read Only or Above
      summary: Query Individual Log Sets
      tags:
      - Query Log Data
      x-code-samples:
      - lang: Shell
        label: curl
        source: |
          curl -H 'x-api-key: b865a2555-ab43-4297-a894-a9b5bffb6395' \
          -G \
          --data-urlencode query="where(931dde6c60>=800)" \
          --data from=1609755026007 \
          --data to=1609927826007 \
          --data labels=00000000-0000-0000-0000-000000000002:00000000-0000-0000-0000-000000000001 \
          --data per_page=1 \
          https://ap.rest.logs.insight.rapid7.com/query/logsets/c1711420-2eb1-69d1-1e15-c17aa921c119
      - lang: Python
        label: Python3.10
        source: |
          import json
          import time
          from requests import Response, Session
          from requests.adapters import HTTPAdapter
          from urllib3.util.retry import Retry

          API_KEY = 'YOUR API KEY'
          LOGSET_ID = 'YOUR LOGSET ID'
          FROM_TS_MILLIS = 1684762903000  # Unix epoch
          TO_TS_MILLIS = 1684763203000  # Unix epoch
          DATA_STORAGE_REGION = 'eu'  # Swap for your region
          QUERY = ''


          class RateLimitedException(Exception):
              def __init__(self, message: str, secs_until_reset: int):
                  super().__init__(message)
                  self.secs_until_reset = secs_until_reset


          def is_query_in_progress(query_response: Response) -> bool:
              if 'links' not in query_response.json():
                  return False
              elif 'Next' in [link['rel'] for link in query_response.json()['links']]:
                  return False
              elif 'Self' in [link['rel'] for link in query_response.json()['links']]:
                  return True
              raise Exception('LogSearch query returned an invalid response body according to their spec '
                              '- contains a "links" object, which does not contain a link with either '
                              '"rel" equal to "Next" or "Self"')


          def poll_request_to_completion(logsearch_session: Session,
                                         query_in_progress_response: Response) -> Response:
              """
              "continuation" polls expire after 10 seconds, so we must not wait too long between
              requests. However we must not poll too frequently for long-running queries or we
              risk being rate limited.
              """
              if query_in_progress_response.status_code == 429:
                  secs_until_reset = query_in_progress_response.headers.get('X-RateLimit-Reset')
                  raise RateLimitedException(
                      f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                      int(secs_until_reset)
                  )

              if not is_query_in_progress(query_in_progress_response):
                  return query_in_progress_response

              poll_delay_secs = 0.5
              max_poll_delay_secs = 6
              links = {link['rel']: link['href'] for link in query_in_progress_response.json()['links']}
              while 'Self' in links:
                  time.sleep(poll_delay_secs)

                  resp = logsearch_session.get(links['Self'], headers={'x-api-key': API_KEY})

                  if resp.status_code == 429:
                      secs_until_reset = resp.headers.get('X-RateLimit-Reset')
                      raise RateLimitedException(
                       f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                       int(secs_until_reset)
                      )

                  if not is_query_in_progress(resp):
                      return resp

                  poll_delay_secs = min(poll_delay_secs * 2, max_poll_delay_secs)
                  links = {link['rel']: link['href'] for link in resp.json()['links']}


          def has_next_page(query_response: Response) -> bool:
              return 'links' in query_response.json() and \
                     'Next' in [link['rel'] for link in query_response.json()['links']]


          def get_next_page_of_results(logsearch_session: Session, resp: Response) -> Response:
              links = {link['rel']: link['href'] for link in resp.json()['links']}
              return logsearch_session.get(links['Next'], headers={'x-api-key': API_KEY})


          def perform_query(logsearch_session: Session) -> Response:
              try:
                  resp = poll_request_to_completion(
                      logsearch_session,
                      logsearch_session.get(f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com/query/logsets/{LOGSET_ID}',
                                            headers={'x-api-key': API_KEY},
                                            params={'from': FROM_TS_MILLIS, 'to': TO_TS_MILLIS, 'query': QUERY})
                  )
                  print(json.dumps(resp.json(), indent=4))
                  return resp
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
                  return perform_query(logsearch_session)

          session = Session()
          session.mount(
              f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com',
              HTTPAdapter(max_retries=(
                  Retry(total=3,
                        backoff_factor=1,
                        status_forcelist=[500, 502, 503, 504],
                        respect_retry_after_header=False)  # Rate limiting must be handled explicitly
              ))
          )

          query_results_page = perform_query(session)

          while has_next_page(query_results_page):
              try:
                  print('Fetching next page of results')
                  query_results_page = poll_request_to_completion(
                      session,
                      get_next_page_of_results(session, query_results_page)
                  )
                  print(json.dumps(query_results_page.json(), indent=4))
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
  /query/saved_query/{saved_query_id}:
    get:
      description: |
        Run a saved query.

        This endpoint can only be used for saved queries which *have* the logs for the query already specified.
        For saved queries which *don't have* the logs already specified, use the
        [/query/logs/{log_keys}/{saved_query_id}](#operation/useSavedQueryNoLogs) endpoint.

        The saved queries used here may or may not have the time range specified.
        If unspecified, the time range must be indicated in the URL query parameters.
        If the time range *is specified* by the saved query, the time range cannnot be overridden in the query parameters.

        ### Query Types
        There are two types of queries, which return different response body structures:
        * **Event Search** queries do not contain a `calculate` function and return a list of log lines in the
        response. When the number of log lines matching your query is large, the response will be paginated and you will
        need to send further requests to retrieve the other pages of log lines (more details on this below).
        * **Statistical Search** queries contain a `calculate` function and return a number rather
        than a list of log lines. These queries do not require you to handle any pagination. Additionally, the response body
        will have a different structure depending on whether the query contains a `groupby` clause or not.

        ### Polling, Pagination & Rate Limiting
        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [the introduction to the "Query Log Data" section](#tag/Query-Log-Data).
      operationId: useSavedQuery
      parameters:
      - description: |
          \
          The id of the saved query.
        example: 00000000-0000-00cf-0000-000000000000
        in: path
        name: saved_query_id
        required: true
        schema:
          type: string
      - description: |
          \
          The start of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1450557004000
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: |
          \
          The end of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1460557604000
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: |
          \
          An alternative to the `from` and `to` query parameters. Supported values:
          * `yesterday`
          * `today`
          * `last x timeunits` where x is the number of time unit back from the current server time. Supported time units (case insensitive):
              - min(s) or minute(s)
              - hr(s) or hour(s)
              - day(s)
              - week(s)
              - month(s)
              - year(s)

          If `time_range` is used, then the `from` and `to` query parameters must not be used.
        example: last 5 minutes
        in: query
        name: time_range
        required: false
        schema:
          type: string
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
                EventsResponsePagination:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
                StatisticalResponseSimple:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
        "202":
          content:
            application/json:
              examples:
                EventsContinue:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
                StatsContinueInitial:
                  $ref: "#/components/examples/~1query~1saved_query~1{saved_query_id}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_202_response'
          description: Query in Progress. Links in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
        "400":
          description: Saved Query Parameters Invalid.
        "401":
          description: Unauthorized.
        "404":
          description: Saved Query Not Found.
        "415":
          description: Non-JSON request body was given (Note that the endpoint does
            not take a request body).
        "429":
          content:
            text/plain:
              example: API rate limit exceeded
              schema:
                type: string
          description: Rate Limited.
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            X-RateLimit-Reset:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
            Retry-After:
              $ref: "#/components/headers/~1query~1saved_query~1{saved_query_id}"
        "500":
          description: Internal Server Error.
      security:
      - Api Key Authentication:
        - Read Only or Above
      summary: Use a Saved Query (logs specified)
      tags:
      - Saved Queries
      x-code-samples:
      - lang: Shell
        label: curl
        source: |
          curl -H 'x-api-key: b865a2555-ab43-4297-a894-a9b5bffb6395' \
          -G \
          --data-urlencode time_range="last 1 day" \
          --data per_page=1 \
          --data kvp_info=true \
          https://us.rest.logs.insight.rapid7.com/query/saved_query/00000000-0000-01cf-0000-000000000000
      - lang: Python
        label: Python3.10
        source: |
          import json
          import time
          from requests import Response, Session
          from requests.adapters import HTTPAdapter
          from urllib3.util.retry import Retry

          API_KEY = 'YOUR API KEY GOES HERE'
          SAVED_QUERY_ID = 'YOUR SAVED QUERY ID GOES HERE'
          FROM_TS_MILLIS = 1684762903000  # If unspecified in the saved query
          TO_TS_MILLIS = 1684763203000  # If unspecified in the saved query
          DATA_STORAGE_REGION = 'eu'  # Swap for your region


          class RateLimitedException(Exception):
              def __init__(self, message: str, secs_until_reset: int):
                  super().__init__(message)
                  self.secs_until_reset = secs_until_reset


          def is_query_in_progress(query_response: Response) -> bool:
              if 'links' not in query_response.json():
                  return False
              elif 'Next' in [link['rel'] for link in query_response.json()['links']]:
                  return False
              elif 'Self' in [link['rel'] for link in query_response.json()['links']]:
                  return True
              raise Exception('LogSearch query returned an invalid response body according to their spec '
                              '- contains a "links" object, which does not contain a link with either '
                              '"rel" equal to "Next" or "Self"')


          def poll_request_to_completion(logsearch_session: Session,
                                         query_in_progress_response: Response) -> Response:
              """
              "continuation" polls expire after 10 seconds, so we must not wait too long between
              requests. However we must not poll too frequently for long-running queries or we
              risk being rate limited.
              """
              if query_in_progress_response.status_code == 429:
                  secs_until_reset = query_in_progress_response.headers.get('X-RateLimit-Reset')
                  raise RateLimitedException(
                      f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                      int(secs_until_reset)
                  )

              if not is_query_in_progress(query_in_progress_response):
                  return query_in_progress_response

              poll_delay_secs = 0.5
              max_poll_delay_secs = 6
              links = {link['rel']: link['href'] for link in query_in_progress_response.json()['links']}
              while 'Self' in links:
                  time.sleep(poll_delay_secs)

                  resp = logsearch_session.get(links['Self'], headers={'x-api-key': API_KEY})

                  if resp.status_code == 429:
                      secs_until_reset = resp.headers.get('X-RateLimit-Reset')
                      raise RateLimitedException(
                       f'Log Search API Key was rate limited. Seconds until rate limit reset: {secs_until_reset}',
                       int(secs_until_reset)
                      )

                  if not is_query_in_progress(resp):
                      return resp

                  poll_delay_secs = min(poll_delay_secs * 2, max_poll_delay_secs)
                  links = {link['rel']: link['href'] for link in resp.json()['links']}


          def has_next_page(query_response: Response) -> bool:
              return 'links' in query_response.json() and \
                     'Next' in [link['rel'] for link in query_response.json()['links']]


          def get_next_page_of_results(logsearch_session: Session, resp: Response) -> Response:
              links = {link['rel']: link['href'] for link in resp.json()['links']}
              return logsearch_session.get(links['Next'], headers={'x-api-key': API_KEY})


          def perform_query(logsearch_session: Session) -> Response:
              try:
                  resp = poll_request_to_completion(
                      logsearch_session,
                      logsearch_session.get(f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com/'
                                            f'query/saved_query/{SAVED_QUERY_ID}',
                                            headers={'x-api-key': API_KEY},
                                            params={'from': FROM_TS_MILLIS, 'to': TO_TS_MILLIS})
                  )
                  print(json.dumps(resp.json(), indent=4))
                  return resp
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
                  return perform_query(logsearch_session)


          session = Session()
          session.mount(
              f'https://{DATA_STORAGE_REGION}.rest.logs.insight.rapid7.com',
              HTTPAdapter(max_retries=(
                  Retry(total=3,
                        backoff_factor=1,
                        status_forcelist=[500, 502, 503, 504],
                        respect_retry_after_header=False)  # Rate limiting must be handled explicitly
              ))
          )

          query_results_page = perform_query(session)

          while has_next_page(query_results_page):
              try:
                  print('Fetching next page of results')
                  query_results_page = poll_request_to_completion(
                      session,
                      get_next_page_of_results(session, query_results_page)
                  )
                  print(json.dumps(query_results_page.json(), indent=4))
              except RateLimitedException as e:
                  print(f'Log Search API Key was rate limited. Sleeping for {e.secs_until_reset} seconds')
                  time.sleep(e.secs_until_reset)
  /query/logs/{log_keys}/{saved_query_id}:
    get:
      description: |
        Run a saved query on the logs matching the specified **{log_keys}**.

        This endpoint can only be used for saved queries which *don't have* the logs for the query already specified.
        For saved queries which *have* the logs already specified, use the
        [/query/saved_query/{saved_query_id}](#operation/useSavedQuery) endpoint.

        The saved queries used here may or may not have the time range specified.
        If unspecified, the time range must be indicated in the URL query parameters.
        If the time range *is specified* by the saved query, the time range cannnot be overridden in the query parameters.

        ### Query Types
        There are two types of queries, which return different response body structures:
        * **Event Search** queries do not contain a `calculate` function and return a list of log lines in the
        response. When the number of log lines matching your query is large, the response will be paginated and you will
        need to send further requests to retrieve the other pages of log lines (more details on this below).
        * **Statistical Search** queries contain a `calculate` function and return a number rather
        than a list of log lines. These queries do not require you to handle any pagination. Additionally, the response body
        will have a different structure depending on whether the query contains a `groupby` clause or not.

        ### Polling, Pagination & Rate Limiting
        For instructions on polling a query until it is completed, handling pagination, and handling rate limits, consult
        [the introduction to the "Query Log Data" section](#tag/Query-Log-Data).
      operationId: useSavedQueryNoLogs
      parameters:
      - description: |
          \
          The keys of the logs to be queried, separated by the ':' character.
        example: /query/logs/565c1b7b-c08b-4c87-a42a-ab08bad56071
        in: path
        name: log_keys
        required: true
        schema:
          type: string
      - description: |
          \
          The id of the saved query.
        example: 00000000-0000-00cf-0000-000000000000
        in: path
        name: saved_query_id
        required: true
        schema:
          type: string
      - description: |
          \
          The start of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1450557004000
        in: query
        name: from
        required: true
        schema:
          type: integer
      - description: |
          \
          The end of the time range for the query, as a UNIX timestamp in milliseconds.
        example: 1460557604000
        in: query
        name: to
        required: true
        schema:
          type: integer
      - description: |
          \
          An alternative to the `from` and `to` query parameters. Supported values:
          * `yesterday`
          * `today`
          * `last x timeunits` where x is the number of time unit back from the current server time. Supported time units (case insensitive):
              - min(s) or minute(s)
              - hr(s) or hour(s)
              - day(s)
              - week(s)
              - month(s)
              - year(s)

          If `time_range` is used, then the `from` and `to` query parameters must not be used.
        example: last 5 minutes
        in: query
        name: time_range
        required: false
        schema:
          type: string
      - description: |
          \
          Number of log entries to return per page, up to 500(the maximum allowed).
        example: 100
        in: query
        name: per_page
        required: false
        schema:
          default: 50
          type: integer
      - description: |
          \
          When set to true, the `events` object that is returned will additionally contain information about
          all the key-value pairs in each returned log entry.
        example: true
        in: query
        name: kvp_info
        required: false
        schema:
          type: boolean
      - description: |
          \
          When set to `true`, the query returns the most recent events first. When set to `false`, it returns the oldest events first.
        example: true
        in: query
        name: most_recent_first
        required: false
        schema:
          default: false
          type: boolean
      responses:
        "200":
          content:
            application/json:
              examples:
                EventsResponseSimple:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}~1{saved_query_id}"
                EventsResponsePagination:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}~1{saved_query_id}"
                StatisticalResponseSimple:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}~1{saved_query_id}"
                StatisticalResponseTimeSeriesMultiGroupBy:
                  $ref: "#/components/examples/~1query~1logs~1{log_keys}~1{saved_query_id}"
              schema:
                $ref: '#/components/schemas/getQueryLogs_200_response'
          description: Results in Response Body.
          headers:
            x-beyond-retention:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}~1{saved_query_id}"
            x-beyond-retention-message:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}~1{saved_query_id}"
            X-RateLimit-Limit:
              $ref: "#/components/headers/~1query~1logs~1{log_keys}~1{saved_query_id}"
            X-RateLimit-Remaining:
[...]
